{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AskPupkin</title>
    <link rel="icon" type="image/x-icon" href="{% static 'icon' %}/favicon.png">
    <link href="{% static 'css' %}/bootstrap.css" rel="stylesheet" />
    <link href="{% static 'bootstrap-icons' %}/bootstrap-icons.css" rel="stylesheet" />
  </head>
  <body>
    {% include 'components/navbar.html' %}

    <div class="container">
      <div class="row">
        <div class="col-9 d-flex flex-column">
          {% block content %} {% endblock %}
        </div>
        <div class="col-3 d-flex flex-column" style="max-width: 30%">
          <h1>Popular Tags</h1>
          <div class="d-flex gap-3 flex-column">
            {% for tag in popular_tags %}
            <a href="{% url 'tag' tag.id %}" class="text-{{ tag.color }}" style="white-space: nowrap">{{ tag.text }}</a>
            {% endfor %}
          </div>
          <h1 style="padding-top: 40px">Best Members</h1>
          <div class="d-flex gap-3 flex-column">
            {% for member in best_members %}
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="white-space: nowrap">{{member.name}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script
      src="{% static 'js' %}/bootstrap.js"
    ></script>
  </body>
</html>
