{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AskPupkin</title>
    <link rel="icon" type="image/x-icon" href="{% static 'icon' %}/favicon.png">
    <link href="{% static 'css' %}/bootstrap.css" rel="stylesheet" />
    <link href="{% static 'bootstrap-icons' %}/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'js-select' %}/select.min.css" />
  </head>
  <body>
    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');
    function addListenersToQuestion(qid) {
      document.getElementById(`question${qid}_like`).addEventListener('click', function() {
        const data = {
            question_id: qid,
            is_like: true,
            do_retract: false
        };
        if(document.getElementById(`question${qid}_like`).firstChild.firstChild.classList.contains("bi-hand-thumbs-up-fill"))
        {
          document.getElementById(`question${qid}_like`).firstChild.firstChild.classList.remove("bi-hand-thumbs-up-fill")
          document.getElementById(`question${qid}_like`).firstChild.firstChild.classList.add("bi-hand-thumbs-up")
          data.do_retract=true
          document.getElementById(`question${qid}_score`).innerText=String(parseInt(document.getElementById(`question${qid}_score`).innerText)-1)
        }
        else
        {
          document.getElementById(`question${qid}_like`).firstChild.firstChild.classList.remove("bi-hand-thumbs-up")
          document.getElementById(`question${qid}_like`).firstChild.firstChild.classList.add("bi-hand-thumbs-up-fill")
          data.do_retract=false
          document.getElementById(`question${qid}_score`).innerText=String(parseInt(document.getElementById(`question${qid}_score`).innerText)+1)
        }
        if(document.getElementById(`question${qid}_dislike`).firstChild.firstChild.classList.contains("bi-hand-thumbs-down-fill"))
        {
          document.getElementById(`question${qid}_dislike`).firstChild.firstChild.classList.remove("bi-hand-thumbs-down-fill")
          document.getElementById(`question${qid}_dislike`).firstChild.firstChild.classList.add("bi-hand-thumbs-down")
          document.getElementById(`question${qid}_score`).innerText=String(parseInt(document.getElementById(`question${qid}_score`).innerText)+1)
        }

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/vote/question', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', csrftoken);

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if(xhr.status === 200) {
                    console.log('Vote successful:', JSON.parse(xhr.responseText));
                } else {
                    console.error('Error:', xhr.statusText);
                }
            }
        };

        xhr.send(JSON.stringify(data));
    });
    document.getElementById(`question${qid}_dislike`).addEventListener('click', function() {
      const data = {
          question_id: qid,
          is_like: false,
          do_retract: false
      };
      if(document.getElementById(`question${qid}_dislike`).firstChild.firstChild.classList.contains("bi-hand-thumbs-down-fill"))
      {
        document.getElementById(`question${qid}_dislike`).firstChild.firstChild.classList.remove("bi-hand-thumbs-down-fill")
        document.getElementById(`question${qid}_dislike`).firstChild.firstChild.classList.add("bi-hand-thumbs-down")
        data.do_retract=true
        document.getElementById(`question${qid}_score`).innerText=String(parseInt(document.getElementById(`question${qid}_score`).innerText)+1)
      }
      else
      {
        document.getElementById(`question${qid}_dislike`).firstChild.firstChild.classList.remove("bi-hand-thumbs-down")
        document.getElementById(`question${qid}_dislike`).firstChild.firstChild.classList.add("bi-hand-thumbs-down-fill")
        data.do_retract=false
        document.getElementById(`question${qid}_score`).innerText=String(parseInt(document.getElementById(`question${qid}_score`).innerText)-1)
      }
      if(document.getElementById(`question${qid}_like`).firstChild.firstChild.classList.contains("bi-hand-thumbs-up-fill"))
      {
        document.getElementById(`question${qid}_like`).firstChild.firstChild.classList.remove("bi-hand-thumbs-up-fill")
        document.getElementById(`question${qid}_like`).firstChild.firstChild.classList.add("bi-hand-thumbs-up")
        document.getElementById(`question${qid}_score`).innerText=String(parseInt(document.getElementById(`question${qid}_score`).innerText)-1)
      }

      const xhr = new XMLHttpRequest();
      xhr.open('POST', '/vote/question', true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-CSRFToken', csrftoken);

      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE) {
              if(xhr.status === 200) {
                  console.log('Vote successful:', JSON.parse(xhr.responseText));
              } else {
                  console.error('Error:', xhr.statusText);
              }
          }
      };

      xhr.send(JSON.stringify(data));
  });
    }
    </script>
    <script>
      function addListenersToUser(qid) {
        document.getElementById(`user${qid}_like`).addEventListener('click', function() {
          const data = {
              user_id: qid,
              is_like: true,
              do_retract: false
          };
          if(document.getElementById(`user${qid}_like`).classList.contains("bi-caret-up-fill"))
          {
            document.getElementById(`user${qid}_like`).classList.remove("bi-caret-up-fill")
            document.getElementById(`user${qid}_like`).classList.add("bi-caret-up")
            data.do_retract=true
            document.getElementById(`user${qid}_score`).innerText=String(parseInt(document.getElementById(`user${qid}_score`).innerText)-1)
          }
          else
          {
            document.getElementById(`user${qid}_like`).classList.remove("bi-caret-up")
            document.getElementById(`user${qid}_like`).classList.add("bi-caret-up-fill")
            data.do_retract=false
            document.getElementById(`user${qid}_score`).innerText=String(parseInt(document.getElementById(`user${qid}_score`).innerText)+1)
          }
          if(document.getElementById(`user${qid}_dislike`).classList.contains("bi-caret-down-fill"))
          {
            document.getElementById(`user${qid}_dislike`).classList.remove("bi-caret-down-fill")
            document.getElementById(`user${qid}_dislike`).classList.add("bi-caret-down")
            document.getElementById(`user${qid}_score`).innerText=String(parseInt(document.getElementById(`user${qid}_score`).innerText)+1)
          }

          const xhr = new XMLHttpRequest();
          xhr.open('POST', '/vote/user', true);
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.setRequestHeader('X-CSRFToken', csrftoken);

          xhr.onreadystatechange = function() {
              if (xhr.readyState === XMLHttpRequest.DONE) {
                  if(xhr.status === 200) {
                      console.log('Vote successful:', JSON.parse(xhr.responseText));
                  } else {
                      console.error('Error:', xhr.statusText);
                  }
              }
          };

          xhr.send(JSON.stringify(data));
      });
      document.getElementById(`user${qid}_dislike`).addEventListener('click', function() {
        const data = {
            user_id: qid,
            is_like: false,
            do_retract: false
        };
        if(document.getElementById(`user${qid}_dislike`).classList.contains("bi-caret-down-fill"))
        {
          document.getElementById(`user${qid}_dislike`).classList.remove("bi-caret-down-fill")
          document.getElementById(`user${qid}_dislike`).classList.add("bi-caret-down")
          data.do_retract=true
          document.getElementById(`user${qid}_score`).innerText=String(parseInt(document.getElementById(`user${qid}_score`).innerText)+1)
        }
        else
        {
          document.getElementById(`user${qid}_dislike`).classList.remove("bi-caret-down")
          document.getElementById(`user${qid}_dislike`).classList.add("bi-caret-down-fill")
          data.do_retract=false
          document.getElementById(`user${qid}_score`).innerText=String(parseInt(document.getElementById(`user${qid}_score`).innerText)-1)
        }
        if(document.getElementById(`user${qid}_like`).classList.contains("bi-caret-up-fill"))
        {
          document.getElementById(`user${qid}_like`).classList.remove("bi-caret-up-fill")
          document.getElementById(`user${qid}_like`).classList.add("bi-caret-up")
          document.getElementById(`user${qid}_score`).innerText=String(parseInt(document.getElementById(`user${qid}_score`).innerText)-1)
        }

        const xhr = new XMLHttpRequest();
        xhr.open('POST', '/vote/user', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', csrftoken);

        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if(xhr.status === 200) {
                    console.log('Vote successful:', JSON.parse(xhr.responseText));
                } else {
                    console.error('Error:', xhr.statusText);
                }
            }
        };

        xhr.send(JSON.stringify(data));
    });
      }
      </script>
    </script>
    <style>
      .tag{
        transition: ease-in-out 200ms;
      }
      .tag:hover {
        filter: brightness(80%);
      }
      .tag_strong{
        transition: ease-in-out 200ms;
      }
      .tag_strong:hover {
        filter: brightness(40%);
      }
    </style>
    {% include 'components/navbar.html' %}

    <div class="container">
      <div class="row">
        <div class="col-9 d-flex flex-column">
          {% block content %} {% endblock %}
        </div>
        <div class="col-3 d-flex flex-column" style="max-width: 30%">
          <h1>Popular Tags</h1>
          <span>
            {% for tag in popular_tags %}
            <a href="{% url 'tag' tag.slug %}" class="text-blue p-1 tag_strong" style="white-space:nowrap; text-decoration:none; color:{{ tag.color }}"><i class="bi-{{ tag.bootstrap_icon }}"></i> {{ tag.title }}</a>
            {% endfor %}
          </span>
          <h1 style="padding-top: 40px">Best Members</h1>
          <div class="d-flex gap-3 flex-column">
            {% for member in best_members %}
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" style="white-space: nowrap">{{member.django_user.username}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <footer style="height:60px">
    </footer>
    <script src="{% static 'js' %}/bootstrap.js"></script>
  </body>
</html>
