body {
  margin: 0;
  font-family: sans-serif;
}
h1 {
  margin: 0;
}
.container {
  padding: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgray;
  padding: 10px;
}
.logo {
  font-size: 32px;
  font-weight: 800;
}
.search__button {
  all: unset;
  background-color: green;
  color: white;
  height: 25px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
}
.search__input {
  box-sizing: content-box;
  height: 25px;
  width: 80%;
}
.account {
  display: flex;
  gap: 10px;
}
.search {
  width: 100%;
}
.account__image {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}
.account__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.heading {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}
.card {
  border: 1px solid black;
  box-sizing: content-box;
  padding: 10px;
  display: flex;
  gap: 10px;
  width: 100%;
}
.card__side {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}
.card__side > img {
  border: 1px solid black;
  width: 81px;
  height: 75px;
  box-sizing: content-box;
}

.card__side > input {
  width: 75px;
}

.cards{
    width: 70%;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.card__content,
.card__body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}
