{% extends 'layouts/base.html' %} {% block content %}
<h1>New Question</h1>
<div class="container">
  <div class="row mb-3">
    <div class="col-1">
      Title
    </div>
    <div class="col-9">
      <input type="text" class="form-control" />
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-1">
      Text
    </div>
    <div class="col-9">
      <textarea class="form-control"></textarea>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-1">
      Tags
    </div>
    <div class="col-9">
      <input type="text" class="form-control" />
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <button class="btn btn-outline-success"><i class="bi-check-lg"></i> Ask!</button>
    </div>
  </div>
</div>
{% endblock %}
