{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'sellect.js/sellect.css' %}" />
<script src="{% static 'sellect.js/sellect.js' %}"></script>
<h1>New Question</h1>
<div class="flex flex-column">
  <form method="post">
    {% csrf_token %}
    <div class="row mb-3">
      <div class="col-1">Title</div>
      <div class="col-9">
        <input type="text" class="form-control" />
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-1">Text</div>
      <div class="col-9">
        <textarea class="form-control"></textarea>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-1">Image</div>
      <div class="col-9">
        <input type="file"></input>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-1">Tags</div>
      <div class="col-9">
        <select
          name="test"
          data-multiple="true"
          data-replace="jselect"
          data-locale="en"
          data-search="true"
          data-placeholder="Choose your region"
        >
          <optgroup label="Все теги">
            {% for tag in all_tags %}
            <option value="{{ tag.slug }}" data-img="{{ tag.bootstrap_icon }}">{{ tag.title }}</option>
            {% endfor %}
          </optgroup>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <button class="btn btn-outline-success" type="submit">
          <i class="bi-check-lg"></i> Ask!
        </button>
      </div>
    </div>
  </form>
</div>
<script src="{% static 'js-select' %}/select.min.js"></script>
{% endblock %}
