{% extends 'layouts/base.html' %} {% block content %}
<script>
function addListenersToAnswer(qid) {
  document.getElementById(`answer${qid}_like`).addEventListener('click', function() {
    const data = {
        answer_id: qid,
        is_like: true,
        do_retract: false
    };
    if(document.getElementById(`answer${qid}_like`).firstChild.firstChild.classList.contains("bi-hand-thumbs-up-fill"))
    {
      document.getElementById(`answer${qid}_like`).firstChild.firstChild.classList.remove("bi-hand-thumbs-up-fill")
      document.getElementById(`answer${qid}_like`).firstChild.firstChild.classList.add("bi-hand-thumbs-up")
      data.do_retract=true
      document.getElementById(`answer${qid}_score`).innerText=String(parseInt(document.getElementById(`answer${qid}_score`).innerText)-1)
    }
    else
    {
      document.getElementById(`answer${qid}_like`).firstChild.firstChild.classList.remove("bi-hand-thumbs-up")
      document.getElementById(`answer${qid}_like`).firstChild.firstChild.classList.add("bi-hand-thumbs-up-fill")
      data.do_retract=false
      document.getElementById(`answer${qid}_score`).innerText=String(parseInt(document.getElementById(`answer${qid}_score`).innerText)+1)
    }
    if(document.getElementById(`answer${qid}_dislike`).firstChild.firstChild.classList.contains("bi-hand-thumbs-down-fill"))
    {
      document.getElementById(`answer${qid}_dislike`).firstChild.firstChild.classList.remove("bi-hand-thumbs-down-fill")
      document.getElementById(`answer${qid}_dislike`).firstChild.firstChild.classList.add("bi-hand-thumbs-down")
      document.getElementById(`answer${qid}_score`).innerText=String(parseInt(document.getElementById(`answer${qid}_score`).innerText)+1)
    }

    const xhr = new XMLHttpRequest();
    xhr.open('POST', '/vote/answer', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', csrftoken);

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if(xhr.status === 200) {
                console.log('Vote successful:', JSON.parse(xhr.responseText));
            } else {
                console.error('Error:', xhr.statusText);
            }
        }
    };

    xhr.send(JSON.stringify(data));
});
document.getElementById(`answer${qid}_dislike`).addEventListener('click', function() {
  const data = {
      answer_id: qid,
      is_like: false,
      do_retract: false
  };
  if(document.getElementById(`answer${qid}_dislike`).firstChild.firstChild.classList.contains("bi-hand-thumbs-down-fill"))
  {
    document.getElementById(`answer${qid}_dislike`).firstChild.firstChild.classList.remove("bi-hand-thumbs-down-fill")
    document.getElementById(`answer${qid}_dislike`).firstChild.firstChild.classList.add("bi-hand-thumbs-down")
    data.do_retract=true
    document.getElementById(`answer${qid}_score`).innerText=String(parseInt(document.getElementById(`answer${qid}_score`).innerText)+1)
  }
  else
  {
    document.getElementById(`answer${qid}_dislike`).firstChild.firstChild.classList.remove("bi-hand-thumbs-down")
    document.getElementById(`answer${qid}_dislike`).firstChild.firstChild.classList.add("bi-hand-thumbs-down-fill")
    data.do_retract=false
    document.getElementById(`answer${qid}_score`).innerText=String(parseInt(document.getElementById(`answer${qid}_score`).innerText)-1)
  }
  if(document.getElementById(`answer${qid}_like`).firstChild.firstChild.classList.contains("bi-hand-thumbs-up-fill"))
  {
    document.getElementById(`answer${qid}_like`).firstChild.firstChild.classList.remove("bi-hand-thumbs-up-fill")
    document.getElementById(`answer${qid}_like`).firstChild.firstChild.classList.add("bi-hand-thumbs-up")
    document.getElementById(`answer${qid}_score`).innerText=String(parseInt(document.getElementById(`answer${qid}_score`).innerText)-1)
  }

  const xhr = new XMLHttpRequest();
  xhr.open('POST', '/vote/answer', true);
  xhr.setRequestHeader('Content-Type', 'application/json');
  xhr.setRequestHeader('X-CSRFToken', csrftoken);

  xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE) {
          if(xhr.status === 200) {
              console.log('Vote successful:', JSON.parse(xhr.responseText));
          } else {
              console.error('Error:', xhr.statusText);
          }
      }
  };

  xhr.send(JSON.stringify(data));
});
}
</script>
<div class="d-flex flex-column align-left gap-3 align-items-center">
  <style>
    .myans{
    box-shadow: -6px -6px 8px -4px rgb(255,0,0),
            6px -6px 8px -4px rgb(0,255,0),
            6px 6px 8px -4px rgb(255,255,0),
            -6px 6px 8px -4px rgb(0,0,255);}
  </style>
  {% include "components/question.html" with item=question %}
  {% for answer in answers %}
  {% include "components/answer.html" with likes_count=answer.likes_count dislikes_count=answer.dislikes_count is_marked=answer.myans %}
  {% endfor %}
  <button id="hideonclick" class="btn btn-primary">
    <i class="bi-lightbulb"></i> You can answer!
  </button>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var button = document.getElementById("hideonclick");
      var forma = document.getElementById("forma");
      button.addEventListener("click", function () {
        {% if user.is_authenticated %}
        button.style.display = "none";
        forma.style.display="block"
        {% else %}
        var currentUrl = window.location.href;
        var encodedUrl = encodeURIComponent(currentUrl);
        var loginUrl = "{% url 'login' %}?next=" + encodedUrl;
        window.location.href = loginUrl;
        {% endif %}
      });
    });
  </script>
  <div class="container" id="forma" style="display:none">
    <h1 style="margin-top:30px; margin-bottom: 30px">Impress anyone with your brilliant answer!</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col-2">
              <p>Your answer:</p>
            </div>
            <div class="col-8">
              <textarea class="form-control" name="answer"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <button type="submit" class="btn btn-success">
                  <i class="bi-check-lg"></i> Post!
                </button>
            </div>
        </div>
    </form>
  </div>
  {% include 'components/pagination.html' %}
</div>
<script src="https://unpkg.com/centrifuge@5.0.0/dist/centrifuge.js"></script>
<script>
    const centrifuge = new Centrifuge("ws://localhost:8008/connection/websocket",{
      token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NSIsImV4cCI6MTcxNzYwMDI0OSwiaWF0IjoxNzE2OTk1NDQ5fQ.KTon5bvpVXub_BUid7ZKm4nqc9VqFlhH8XQvu43cqwM"
    });

    centrifuge.on('connect', function (context) {
        console.log("connected", context);
    });

    centrifuge.on('disconnect', function (context) {
        console.log("disconnected", context);
    });

    const sub = centrifuge.newSubscription('room:{{ question.pk }}');
    sub.on('publication', function(ctx) {
        console.log(ctx.data);
    })
    sub.subscribe();

    centrifuge.connect();
</script>
{% endblock %}
