{% load static %}
<nav>
  <div class="navbar py-1 d-flex position-fixed flex-row justify-content-between bg-body-tertiary px-4 w-100"
  style="z-index:4; --webkit-backdrop-filter:blur(8px); backdrop-filter:blur(8px); --bs-bg-opacity:0.6;
  border-bottom:2px solid #bbbbbb; height:65px">
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row gap-10">
        <a class="navbar-brand" href="{% url 'index' %}"><b><h2>AskPupkin</h2></b></a>
      </div>
    </div>
    <div class="justify-content-between d-flex flex-row gap-5">
      <a href="{% url 'ask' %}"><button class="btn btn-outline-success"><i class="bi-plus-lg"></i> Ask!</button></a>
      <form class="d-flex flex-row flex-grow-0" role="search">
        <div class="d-flex flex-row">
          <input
          class="form-control me-2" type="search"
          placeholder="Search" id="searchfield" style="width:300px" aria-label="Search"/>
          <button class="btn btn-outline-primary" id="troll" style="padding-top:5px; padding-bottom:2px; padding-right:15px; overflow:hidden"><h6><i class="bi-search"></i></h6></button>
          <div style="position:fixed;width:100%;max-width:300px;top:65px; background-color:white; border:gray solid 1px;border-radius:10px;overflow-y:auto;overflow-x:clip;max-height:500px;display:none"
          class="flex-column gap-3"
          id="resultsmenu">
            <div style="display:none"><i class="bi-x-lg"></i> <span>No results!</span></div>
            <div style="display:none"><i class="bi-pen"></i> <span>Start typing!</span></div>
            <div style="display:none"><i class="bi-alarm"></i> <span>Search is in progress!</span></div>
            <div style="display:none"><a href=""><i class="bi-question-lg"></i> <span>Question228</span></a></div>
            <div style="display:none"><a href=""><i class="bi-exclamation-lg"></i> <span>Answer228</span></a></div>
          </div>
        </div>
      </form>
    </div>
    {% if user.is_authenticated %}
    <div class="d-flex flex-row account">
      <div class="me-3">
        <img class="rounded-pill border" src="{{ MEDIA_URL }}{{ my_user.avatar }}" style="object-fit:cover" width="50" height="50" />
      </div>
      <div class="d-flex flex-column justify-content-between">
        <div style="text-align:center">{{ user.username }}
          {% if user.is_staff %}
          <i class="bi-award"></i>
          {% endif %}
        </div>
        <div class="d-flex flex-row gap-3">
          <div><a style="text-decoration:none" href="{% url 'settings' %}" class="tag_strong"><i class="bi-gear-wide"></i> Settings</a></div>
          <div><a style="text-decoration:none" href="{% url 'logout' %}?next={{ request.path }}" class="tag_strong"><i class="bi-box-arrow-right"></i> Logout</a></div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="d-flex flex-row account gap-3">
      <a href="{% url 'login' %}?next={{ request.path }}" style="text-decoration:none"><button class="form-control" style="width:110px"><i class="bi-person" style="margin-right: 5px"></i>Login</button></a>
      <a href="{% url 'register' %}?next={{ request.path }}" style="text-decoration:none"><button class="form-control" style="width:140px"><i class="bi-person-add" style="margin-right: 5px"></i>Register</button></a>
    </div>
    {% endif %}
  </div>
  <div style="height:90px"></div>
</nav>

<script>
  let timeoutId = null;
  const el=document.getElementById("resultsmenu")
  const searchfield=document.getElementById("searchfield")
  function sendSearchQuery() {

      fetch('/search', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
          },
          body: JSON.stringify({ query: searchfield.value })
      })
      .then(response => response.json())
      .then(data => {
          clearSearch();
          console.log(data)

          if (Array.isArray(data)) {
              if (data.length === 0) {
                  el.children.item(0).style.display="block"
              } else if (data.length === 1) {
                  console.log(data[0]);
              } else {
                  let results = document.getElementById("resultsmenu");

                  data.forEach(item => {
                      let elem = el.children.item(3);
                      if(item.in=="answer")
                      elem=el.children.item(4);
                      let newElement = elem.cloneNode(true);
                      newElement.style.display = "block";
                      newElement.lastChild.lastChild.textContent = item.title;
                      newElement.lastChild.href=`/question/${item.id}`
                      results.appendChild(newElement);
                  });
              }
          } else {
              console.error("Ответ сервера не является массивом.");
          }
      })
      .catch(error => {
          console.error('Ошибка:', error);
      });
  }

  function resetTimeout() {
      // Проверяем, существует ли таймаут
      if (timeoutId !== null) {
          // Отменяем существующий таймаут
          clearTimeout(timeoutId);
      }

      // Создаем новый таймаут
      timeoutId = setTimeout(sendSearchQuery, 1000);
  }
  function clearSearch()
  {
    for(let i=0;i<5;i++)
    {
      const ch=el.children.item(i)
      ch.style.display='none'
    }
    while(el.children.length>5){el.removeChild(el.lastChild)}

  }
  document.getElementById("troll").addEventListener("click",()=>{alert("Search results will submit automatically!")})
  searchfield.addEventListener("focus",()=>{
    clearSearch()
    document.getElementById("resultsmenu").style.display="flex"
    if(searchfield.value.length)
    {
      resetTimeout();
      el.children.item(2).style.display="block"
    }
    else{
      el.children.item(1).style.display="block"
    }
  })
  searchfield.addEventListener("blur",()=>{
    setTimeout(()=>{
    document.getElementById("resultsmenu").style.display="none"
    if (timeoutId !== null) {
      // Отменяем существующий таймаут
      clearTimeout(timeoutId);
  }
},100);
  })
  searchfield.addEventListener("keyup",()=>{
    clearSearch()
    el.children.item(2).style.display="block"
    resetTimeout()
  })
</script>
