{% load static %}
<nav>
  <div class="navbar py-1 d-flex position-fixed flex-row justify-content-between bg-body-tertiary px-4 w-100"
  style="z-index:4; --webkit-backdrop-filter:blur(8px); backdrop-filter:blur(8px); --bs-bg-opacity:0.6;
  border-bottom:2px solid #bbbbbb; height:65px">
    <div class="d-flex flex-row justify-content-between">
      <div class="d-flex flex-row gap-10">
        <a class="navbar-brand" href="{% url 'index' %}"><b><h2>AskPupkin</h2></b></a>
      </div>
    </div>
    <div class="justify-content-between d-flex flex-row gap-5">
      <a href="{% url 'ask' %}"><button class="btn btn-success"><i class="bi-plus-lg"></i> Ask!</button></a>
      <form class="d-flex flex-row flex-grow-0" role="search">
          <input
          class="form-control me-2" type="search"
          placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-primary" type="submit" style="padding-top:5px; padding-bottom:2px; padding-right:15px; overflow:hidden"><h6><i class="bi-search"></i></h6></button>
      </form>
    </div>
    {% if user.is_authenticated %}
    <div class="d-flex flex-row account">
      <div class="me-3">
        <img class="rounded-pill border" src="{% static 'img' %}/1.jpg" width="50" height="50" />
      </div>
      <div class="d-flex flex-column justify-content-between">
        <div style="text-align:center">{{ user.username }}
          {% if user.is_staff %}
          <i class="bi-award"></i>
          {% endif %}
        </div>
        <div class="d-flex flex-row gap-3">
          <div><a style="text-decoration:none" href="{% url 'settings' %}" class="tag_strong"><i class="bi-gear-wide"></i> Settings</a></div>
          <div><a style="text-decoration:none" href="{% url 'logout' %}?next={{ request.path }}" class="tag_strong"><i class="bi-box-arrow-right"></i> Logout</a></div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="d-flex flex-row account gap-3">
      <a href="{% url 'login' %}?next={{ request.path }}" style="text-decoration:none"><button class="form-control" style="width:110px"><i class="bi-person" style="margin-right: 5px"></i>Login</button></a>
      <a href="{% url 'register' %}?next={{ request.path }}" style="text-decoration:none"><button class="form-control" style="width:140px"><i class="bi-person-add" style="margin-right: 5px"></i>Register</button></a>
    </div>
    {% endif %}
  </div>
  <div style="height:90px"></div>
</nav>
