{% load static %}
<div class="card" style="width:fit-content">
  <div class="card-body p-2 pb-3">
    <div class="d-flex flex-row gap-3 mx-1 align-items-center">
      <div style="cursor:pointer"><h5><i class="bi-hand-thumbs-up">  </i></h5></div>
      <div class="d-flex justify-content-center"><h5>5</h5></div>
      <div style="cursor:pointer"><h5><i class="bi-hand-thumbs-down"></i></h5></div>
    </div>
    <div class="border rounded-pill" style="height:7px;width:100%;overflow:clip">
      <div class="bg-black " style="height:5px;width:30%"></div>
    </div>
  </div>
</div>
