{% load static %}
{% load mathfilters %}
<div class="card" style="width:fit-content">
  <div class="card-body p-2 pb-3 align-items-center justify-content-center d-flex flex-column">
    <div>
      <img class="rounded-pill border" style="object-fit:cover" src="{{ MEDIA_URL }}{{ user.avatar }}" width="50" height="50" />
    </div>
    <h6>{{ user.django_user.username }}</h6>
    <div class="d-flex flex-row gap-4 mx-1 align-items-center">
      <div style="cursor:pointer"><h5><i class="bi-caret-up">  </i></h5></div>
      <div class="d-flex justify-content-center"><h5>{{ user.rating_likes | sub:user.rating_dislikes }}</h5></div>
      <div style="cursor:pointer"><h5><i class="bi-caret-down"></i></h5></div>
    </div>
    <div class="border rounded-pill" style="height:7px;width:100%;overflow:clip">
      <div class="bg-black " style="height:5px;width:{% widthratio user.rating_likes user.rating_likes|add:user.rating_dislikes 100 %}%"></div>
    </div>
  </div>
</div>
